<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" href="../_site/assets/main.css"><link type="application/atom+xml" rel="alternate" href="../_site/feed.xml" title="Your awesome title" />
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>		        		        		
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:chenyan5@asu.edu">email</a></li>	        		
				</ul>
			</footer>
		</body>
